.bigText {
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.message{
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: flex-start;
}
.messageHead{
    display: flex;
    gap: 10px;
}
.messageAvatar{
    width: 50px;
    height: auto;
    border-radius: 50%; 
}
.messageAuthor{
    color: #5865F2;
    font-weight: bold;
}
.messageTime{
    color: #949BA4;
}
.messageContent{
    color: #DBDEE1;
}